@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************************** NAVBAR *************************/

/* can style the font of my name ^^ */

/* .container {
  position: sticky;
}
*/
/* .navbar {
  top: 0;
  left: 0;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  display: flex;

  background-color: #000;
} */

nav a.nav-link {
  /* font-weight: 500; */

  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  /* position: sticky; */
}

nav ul li {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  /* position: sticky; */
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;

  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  font-family: "Roboto Condensed", sans-serif;
  /* position: sticky; */
}

.navbar-brand {
  max-width: 17.5rem;
  padding: 0 !important;
  text-transform: uppercase;
  color: var(--primary-white) !important;
  font-family: "Roboto Condensed", sans-serif;
  /* position: sticky; */
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
  /* position: sticky; */
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
  /* position: sticky; */
}

/******** HEADER ********/
.header-wraper {
  position: relative;
  /* background: url(Horizon.jpg) no-repeat; */
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: "Source Code Pro", monospace; */
  z-index: 2;
}

.main-info h1 {
  color: var(--primary-white);
  font-family: "Roboto Condensed", sans-serif;
  /* text-transform: uppercase; */
}

.main-info h2 {
  color: var(--primary-white);
  font-family: "Roboto Condensed", sans-serif;
}

/******* TYPE TEXT **********/

.typed-text {
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .main-info h2 {
    font-size: 1.3rem !important;
  }
  .typed-text {
    font-size: 1.3rem;
    font-family: "Source Code Pro", monospace;
    color: var(--primary-white);
  }
}

/*** HEADER MAIN OFFER BUTTON *****/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/**** PARTICLES ***/

.tsparticles-canvas-el {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/** ABOUT + EDUCATION PAGE **/
.about-wrapper {
  position: relative;
  /* background: url(Horizon.jpg) no-repeat; */
  background-color: #000;
  /* background-size: cover; */
  background-position: center;
  height: 100%;
  position: center;
  /* z-index: 2; */
  padding: 20px;
}

.about-objects p {
  color: var(--primary-white);
}
.about-info {
  align-items: center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  padding: 30px;
  height: 200%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* z-index: 2; */
}

.about-info h1 {
  color: #fff;
  /* z-index: 2; */
}

.main-info h3 {
  color: #fff;
}
.main-info p {
  color: #fff;
}

.about-objects {
  display: flex;
  position: right;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: right;
  margin: auto;
  font-family: "Source Code Pro", monospace;
  z-index: 3;
}

.column-object p {
  text-align: justify;
  color: #ffffff;
  color: var(--primary-white);
  vertical-align: middle;

  /* z-index: 4; */
}
.column-object h1 {
  text-align: justify;
  color: #ffffff;
  color: var(--primary-white);
  vertical-align: middle;
  /* z-index: 4; */
}

.profile {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  z-index: 4;
  /* height: 100vh; */
}

.profile img {
  position: relative;
  max-width: 80%;

  /* z-index: 4; */
}

.column-object {
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* vertical-align: middle; */
  padding: 0;
  margin: auto;
  /* z-index: 4; */
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 40px;
  z-index: 3;
  margin: auto;
  justify-content: center;
  /* height: 100vh; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 80vh;
  /* z-index: 4; */
}

.row {
  z-index: 3;
  /* height: 100vh; */
}

.column ul {
  content: left;
  list-style-position: inside;
  align-items: left;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  /* z-index: 4; */
}

.list {
  content: left;
}

.penn-logo img {
  position: relative;
  width: 70%;
  /* z-index: 2; */
}

.penn-logo {
  padding: 10px;
  content: left;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
}

/********************** PROJECTS AND EXPERIENCE STYLES  ******************/
.projects-wrapper {
  position: relative;
  /* background: url(Horizon.jpg) no-repeat; */
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 120vh;
  position: center;
  /* z-index: 0; */
}
.projects-info {
  position: center;
}

@media (max-width: 768px) {
  .column {
    width: 100%;
    /* z-index: 4; */
  }
  .experience-wrapper {
    padding: 30px;
    /* position: relative; */
    /* background: url(Horizon.jpg) no-repeat; */
    background-color: #000;
    background-size: cover;
    background-position: center;
    /* height: 100%; */
    position: center;
    /* padding-bottom: 600px; */
  }
}

.experience-wrapper {
  padding: 30px;
  position: relative;
  /* background: url(Horizon.jpg) no-repeat; */
  background-color: #000;
  background-size: cover;
  background-position: center;
  /* height: 200%; */
  position: center;
  padding-bottom: 600px;
  /* z-index: 0; */
}

.caption h3 {
  color: #fff;
}

.caption p {
  color: #fff;
}

.Accordion {
  padding: 50px;
  position: relative;
  height: 100%;
  /* z-index: 2 !important; */
}

.experience-wrapper h1 {
  color: #fff;

  text-align: center;
  /* z-index: 2; */
}

.experience-wrapper {
  align-items: center;
  /* text-align: center; */
  /* z-index: 2 !important; */
}

.experience-info {
  /* text-align: center; */
  /* font-family: "Source Code Pro", monospace; */
  z-index: 2 !important;
  margin-top: 40px;
  height: 100%;
}

.particles-canvas {
  background-color: blue;
  height: 100%;
  /* z-index: -1; */
}

.Accordion {
  position: relative;
  z-index: 2;
}

.nav-item-download {
  border-radius: 1px;
}

.carddeck {
  padding: 50px;
  bottom: 50px;
}

.c1 {
  bottom: 50px;
}

.card-data {
  margin-top: 30px;
}

.cardimages {
  padding: 20px;
  /* max-width: 100%; */

  align-self: center;
}

.cardimages-parts {
  max-width: 200px;
  height: auto;
  padding: 20px;
  align-self: center;
}

.cardimages-spot {
  max-width: 200px;
  height: auto;
  padding: 20px;
  align-self: center;
}

.cardimages-medi {
  /* max-width: 67.9%; */
  max-width: 200px;
  height: auto;
  padding: 20px;
  align-self: center;
}

.cardimages-doc {
  max-width: 200px;
  height: auto; /* max-width: 63.1%; */
  padding: 20px;
  align-self: center;
}

.cardimages-pillow {
  max-width: 200px;
  height: auto; /* max-width: 63.1%; */
  padding: 20px;
  align-self: center;
}

.about-info h3 {
  color: white;
  font-size: 200%;
}

.carddeck h3 {
  /* margin-top: 10px; */
  margin-bottom: 20px;
}

.cardimages-data {
  max-width: 200px;

  align-self: center;
}

.col-ab p {
  font-size: 110%;
}

.h5-text {
  font-size: 200%;
}

.inner-list {
  font-size: 100%;
}

.about-title {
  z-index: 2;
}

.about-title h1 {
  z-index: 2;
}

.Accordion Card {
  z-index: 2;
}

.card-row {
  /* height: 250px;
  width: 300px; */
}

.footer {
  /* font-size: 20px; */
  /* background-color: black; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: white;
}

.navybary {
  background-color: black;
  color: black;
  height: 40px;
}

.exp-title {
  color: darkblue;
}

.exp-body {
  color: black;
}
